<po-divider p-label="Dados do Paciente"></po-divider>
<po-info
    p-label="Nome"
    p-value="Nome do Paciente" >
</po-info>
<po-info
    p-label="E-Mail"
    p-value="Email do Paciente" >
</po-info>
<po-divider p-label="Dados do Médico"></po-divider>
<po-info
    p-label="Nome"
    p-value="Nome do Paciente" >
</po-info>
<po-info
    p-label="E-Mail"
    p-value="Email do Paciente" >
</po-info>
<po-divider p-label="Dados da Consulta"></po-divider>
<po-info
    p-label="Nome"
    p-value="Nome do Paciente" >
</po-info>
<po-info
    p-label="E-Mail"
    p-value="Email do Paciente" >
</po-info>
