<po-container p-no-border="true" p-no-shadow="true">
  <form [formGroup]="formAgendarConsulta">
    <div>
      <po-divider p-label="Paciente"> </po-divider>
      <po-input
        class="po-md-6"
        formControlName="codPaciente"
        name="codPaciente"
        p-label="Código Paciente"
        p-readonly="true"
      >
      </po-input>
      <po-input
        class="po-md-6"
        formControlName="nomePaciente"
        name="NomePaciente"
        p-label="Nome Paciente"
        p-readonly="true"
      >
      </po-input>

      <po-divider p-label="Médico"> </po-divider>
      <po-input
        class="po-md-6"
        formControlName="codMedico"
        name="codMedico"
        p-label="Código Médico"
        p-readonly="true"
      >
      </po-input>
      <po-input
        class="po-md-6"
        formControlName="nomeMedico"
        name="nomeMedico"
        p-label="Nome Médico"
        p-readonly="true"
      >
      </po-input>
      <po-divider p-label="Procedimentos"> </po-divider>
      <po-input
        class="po-md-12"
        formControlName="procedimento"
        p-readonly="true"
        name="procedimento"
        p-label="Procedimento"
      >
      </po-input>
      <po-divider p-label="Informações Adicionais"> </po-divider>
      <po-radio-group
        class="po-md-6"
        formControlName="retorno"
        name="retorno"
        p-label="Necessita Retorno"
        [p-options]="[
          { label: 'Sim', value: 1 },
          { label: 'Não', value: 2 }
        ]"
      >
      </po-radio-group>
      <po-radio-group
        class="po-md-6"
        formControlName="internacao"
        name="internação"
        p-label="Necessita Internação"
        [p-options]="[
          { label: 'Sim', value: 1 },
          { label: 'Não', value: 2 }
        ]"
      >
      </po-radio-group>
      <po-input
        class="po-md-12"
        formControlName="medicamentos"
        name="medicamentos"
        p-label="Medicamentos"
      >
      </po-input>
      <po-input
        class="po-md-12"
        formControlName="observacao"
        name="obs"
        p-label="Observação"
      >
      </po-input>
    </div>
  </form>
</po-container>
